/**
 * Just set some basic styles.
 */

:root {
  font-size: 1rem;
  font-family: Verdana, "Verdana Ref", "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans",
    "Bitstream Vera Sans", "Liberation Sans", Corbel, sans-serif;
  line-height: 1.5rem;
}

.container {
  margin: 0 auto;
  max-width: 60rem;
  padding: 0 1rem;
}

.u-margin-top {
  margin-top: 1.5rem;
}
