<h1>Projects</h1>

<div class="mt-3">
  <SearchInput @onChange={{action "changeLocation"}} />
</div>

<div class="row">
  {{#each this.projects as |project|}}
    <div class="col-sm-6">
      <ProjectCard @project={{project}} class="mt-3"/>
    </div>
  {{else}}
    <p>Sorry, no projects.</p>
  {{/each}}
</div>
